<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.partsilicon.bixolon_printer_plugin">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
        <activity android:name=".PrinterActivity" android:label="Printer Settings" android:theme="@style/Theme.AppCompat.Light"></activity>
    </application>

</manifest>